<mat-card>
  <mat-card-header>
    <mat-card-title>Cargar Gastos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="agregarGasto()">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nuevoGasto.name" name="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Detalle</mat-label>
        <input matInput [(ngModel)]="nuevoGasto.detail" name="detail">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Monto</mat-label>
        <input matInput type="number" [(ngModel)]="nuevoGasto.Price" name="Price" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <mat-select [(ngModel)]="nuevoGasto.category" name="category" required multiple>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.name">
            {{ categoria.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Agregar Gasto</button>
    </form>
  </mat-card-content>
</mat-card>
