<mat-card>
  <mat-card-title>Listado de Gastos e Ingresos</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Gastos">
        <h3>Listado de Gastos</h3>
        <ul>
          <li *ngFor="let gasto of gastos">{{ gasto.name }} - {{ gasto.Price }}</li>
        </ul>
      </mat-tab>
      <mat-tab label="Ingresos">
        <h3>Listado de Ingresos</h3>
        <ul>
          <li *ngFor="let ingreso of ingresos">{{ ingreso.name }} - {{ ingreso.Price }}</li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
