<mat-card>
    <mat-card-title>Cargar Ingreso</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Detalle">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Precio" type="number">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Categoría">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary">Guardar Ingreso</button>
    </mat-card-content>
</mat-card>
  